/*
  MAIN COLORS:
  
  background: rgb(255,147,112);
  background: linear-gradient(90deg, rgba(255,147,112,1) 0%, rgba(60,52,134,1) 71%);

*/

:root{
  --accent-color-orange: rgba(255,147,112,1);
  --accent-color-blue: rgba(60,52,134,1);
  --navbar-height: 5vh;
}
*{
  font-family: 'Jost', sans-serif;
}
body{
  background-color: brown;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
}
button{
  color: white;
  background-color: transparent;
  border: solid 1px;
  cursor: pointer;
}
#thread-container{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
}
.thread{
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-radius: 0px;
}
#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: linear-gradient(90deg, var(--accent-color-orange) 0%, var(--accent-color-blue) 70%);
  height: var(--navbar-height);
}
.left-container{
  display: flex;
  flex: 1;
  justify-content: flex-start;
}
.middle-container{
  display: flex;
  flex: 1;
  justify-content: center;
}
.right-container{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
#navbar button{
  font-size: 1.5em;
  border: none;
  padding: 0 0.3em;
  margin: 0;
}
#navbar h1{
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
#hamburgerMenu{
  transition: color 0.5s, transform 0.5s, font-size 0.5s;
}
#hamburgerMenu:hover{
  font-size: 175%;
  color: var(--accent-color-blue);
  transform: rotate(20deg);
}
.profile-btn{
  display: none;
}
#sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--accent-color-orange);
  z-index: 90;
}
#sidebar h3{
  font-size: 1.5em;
}
#profileNav{
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}
#profileNav a{
  margin-top: 1em;
  color: black;
}
#profileNav a:nth-child(2){
  color: red;
}
#profileNav a:nth-child(2):hover {
  color: rgb(65, 30, 30);
}
#sidebar.hidden{
  display: none;
}
#sidebar a{
  transition: color 0.5s, font-size 0.5s;
}
#sidebar a:hover {
  font-size: 150%;
}
main header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#form-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#postForm{
  padding: 1em;
  width: 50vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: solid 1px;
  border-radius: 3px;
  border-color: white;
  background-color: wheat;
}
#postForm input, textarea{
  width: 100%;
  background-color: whitesmoke;
  border: solid 1px;
  border-color: black;
}
#postForm textarea{
  min-height: 150px;
  resize: vertical;
}
.hidden{
  display: none;
}




@media only screen and (min-width:440px){
  #navbar h1{
    font-size: 2.5em;
  }
  #sidebar{
    max-width: 300px;
    align-items: flex-start;
    text-align: left;
  }
  .profile-btn{
    display: inline;
  }
  #sidebar h3{
    font-size: 2em;
    padding-left: 0.5em;
  }
  #sidebar a{
    font-size: 1.25em;
    padding-left: 1.5em;
  }
  #content.extra-margin{
    margin-left: 300px;
  }
}